<h1>Most Dangerous Day</h1>
<br>
<h3>Date Range Submitted: <%= @presenter.view_start_date%> - <%=@presenter.view_end_date%></h3>
<br>
<h3>Most Dangerous Day: <%= @presenter.view_most_dangerous_day %></h3>